/*ESTILOS GENERALES */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cv-main-container {
    height: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: 0.3fr 1fr 1fr 0.3fr;
    grid-template-rows: auto;
}

.cv-aside-container {
    grid-column-start: 2;
    background-color: lightblue;
    margin-top: 20px;
}

.ed-container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: #EDF2F7;
}

.ed-section-card h2 {
    margin: 0 30px;
}

.ed-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    font-size: 22px;
}

.icon-class svg {
    width: 100%;
    height: auto;
}

/*****************************************/
/* PLANTILLA CV */
/*****************************************/

/* Contenedor Principal */
.cv-section-container {
    padding: 1em;
    grid-column-start: 3;
}

/* Encabezado */
.cv-header {
    text-align: center;
    padding: 1em;
}

.cv-name {
    margin: 0.5em 0;
    font-size: 2em;
}

.cv-contact {
    margin: 0.5em 0;
    font-size: 1em;
}

.cv-address,
.cv-email,
.cv-phone {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-contact svg {
    vertical-align: middle;
    margin-right: 8px;
}

/* Cuerpo del CV */
.cv-body {
    padding: 2em;
}

.cv-section-title {
    font-size: 1.5em;
    border-bottom: 2px solid #333;
}

/* Experiencia Laboral y Educación */
.cv-experience,
.cv-education {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cv-job,
.cv-course {
    margin: 1em 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.cv-company,
.cv-degree {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.cv-job-details,
.cv-course-details {
    margin-left: 1em;
}

/* Detalles de fechas, instituciones, etc. */
.cv-start-date,
.cv-end-date,
.cv-position,
.cv-institution,
.cv-location,
.cv-description {
    margin-bottom: 0.2em;
    font-size: 0.9em;
}

/* Añadir esto al CSS existente */
.cv-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 30;
}

.cv-container.left .cv-header,
.cv-container.right .cv-header {
    flex-direction: column;
    width: 250px;
}

.cv-container.left .cv-body,
.cv-container.right .cv-body {
    flex: 1;
    /* Toma todo el espacio restante */
}

.cv-container.left {
    flex-direction: row;
    /* Header a la izquierda, Body a la derecha */
}

.cv-container.right {
    flex-direction: row-reverse;
    /* Body a la izquierda, Header a la derecha */
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: black;
}

.font-selector,
.color-picker,
.position-buttons button {
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 4px;
    border: 1px solid #1b4d7c;
    transition: 0.3s;
    background: white;
}

.font-selector:hover,
.color-picker:hover,
.position-buttons button:hover {
    border-color: #1b4d7c;
    cursor: pointer;
}

.position-buttons {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.cv-footer {
    color: #333;
    text-align: center;
    font-size: 16px;
}

.cv-footer svg {
    margin-right: 8px;
    fill: #0077b6;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}

.cv-footer span {
    font-weight: 500;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

textarea {
    background-color: white !important;
}

@media screen and (max-width: 800px) {
    .cv-main-container {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 20px;
    }

    .cv-aside-container {
        grid-column-start: none;
        background-color: lightblue;
    }

    .cv-section-container {
        padding: 1em;
        grid-column-start: none;
        margin-top: 30px;
    }

    .cv-footer {
        margin: 20px auto;
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border: none;
        width: fit-content;
        color: black;
    }
}

.header {
    background-color: #1b4d7c;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 24px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}